<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NetSolutions</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="encabezado">
      <div class="img-logo">  
        <a href="https://www.google.com.ar"><img class="logo" src="/img/logo2.svg" alt="LOGO" /></a>
      </div>
      <nav class="nav-head">
          <ul class="lista-head">
          <li class="li-head"><a href="#" class="a-head"> Nosotros</a> </li>
          <li class="li-head"><a href="#" class="a-head"> Servicios</a></li>
          <li class="li-head"><a href="#" class="a-head"> Clientes</a></li>
          <li class="li-head"><a href="#" class="a-head"> Contacto</a></li>
        </ul>
      </nav>
      <span class="target"></span>
    </header>
    <main class="main-body">
      <h1 class="h1-main">Somos Net.Solutions</h1>
      <p class="p-main">
        Empresa dedicada al desarrollo de infraestructura en pequeñas y medianas empresas. <br>
        Brindamos asesoramiento integral para soluciones de networking, virtualización e instalación de servidores. Contamos con la experiencia <br>
        necesaria para cubrir las necesidades tu empresa y con el personal técnico especializado en el rubro.

      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </main>
    <footer>
      <section class="section-footer">
        <ul class="lista-footer icon-ft">
          <li class="datos-de-contacto">
            <div>
              
              <P class="txt-footer"><a href="#"><i class="fa-solid fa-location-dot footer-icon"></i></a> Parana - E.R. - Argentina</P>
            </div>
          </li>
          <li class="datos-de-contacto">
            <div>
              <P class="txt-footer"><a href="#"><i class="fa-brands fa-instagram footer-icon"></i></a> /netsolutions</P>
            </div>
          </li>
          <li class="datos-de-contacto">
            <div>
              <p class="txt-footer"><a class="txt-footer" href="#"><i class="fa-brands fa-instagram footer-icon"></i></a> francou.facundo@gmail.com </p>
            </div>
          </li>
          <li class="datos-de-contacto">
            <div>
              <P class="txt-footer"><a href="#"><i class="fa-brands fa-whatsapp footer-icon"></i></a> +54 9 3442467614</P>
            </div>
          </li>
        </ul>
      </section>
    </footer>
  </body>
</html>
