:root {
    --azul-pricipal: #1944FA;
    --verde-punto: #008037;
    --gris-animacion: #333333;
    --negro: #000000;
    --blanco: #ffffff;
    --gradiente-rgb: rgb(255, 255, 255);
    --gradiente-rgba: rgba(44, 62, 80, 0.404);
    
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: var(--blanco);
}
header {
  margin: -5px;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background: var(--gris-animacion); /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      var(--gradiente-rgb),
     var(--gradiente-rgba)),
    url("../img/fondo.jpg"); /* Chrome 10-25, Safari 5.1-6  "../img/fondo.jpg"*/
  background: linear-gradient(
      to right,
      var(--gradiente-rgb),
     var(--gradiente-rgba)),
    url("../img/fondo.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img-logo {
  text-align: left;
}
.logo {
  margin: 10px;
  height: 120px;
  padding: 5px;
}
.a-head{
  text-decoration: none;
  color: var(--negro);
}
.li-head {
  font-size: 20px;
  list-style-type: none;
  width: 8em;
  font-style: bold;
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: var(--gris-animacion);
  text-align: center;
}
.li-head:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: var(--azul-pricipal);
  transition: left 0.3s;
}
.li-head:hover:after {
  left: 0;
}
.nav-head{
  text-align: center;
}
.h1-main{
  text-align: center;
  font-size: 50px;
  color: var(--gris-animacion);
  font-weight: bold;
  padding: 20px;
  margin: -10px;

}
.p-main{
  text-align: center;
  font-size: 20px;
  margin: -10px;
  padding: 20px;
  color: var(--gris-animacion);
}
footer {
  margin: -5px;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      var(--gradiente-rgb),
     var(--gradiente-rgba)),
    url("../img/fondo.jpg"); /* Chrome 10-25, Safari 5.1-6  "../img/fondo.jpg"*/
  background: linear-gradient(
      to right,
      var(--gradiente-rgb),
      var(--gradiente-rgba)),
    url("../img/fondo.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.lista-footer {
  list-style-type: none;
}
.datos-de-contacto {
  font-size: 24px;
  padding: 0px;
  margin: 10px;
  text-align: right;
}
.footer-icon {
  color: #ffffff;
  font-size: 18px;
}
.txt-footer {
  color: #ffffff;
  font-size: 18px;
}
